// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro

#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4






#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4













/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            global-quick-tap;
            bindings =
                <&kp>,
                <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
          &kp Q           &kp W             &kp E               &kp R          &kp T        &kp Y                &kp U         &kp I            &kp O               &kp P
 &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LEFT_SHIFT D  &mt LEFT_CONTROL F          &kp G        &kp H  &mt RIGHT_CONTROL J  &mt RSHIFT K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI
          &kp Z           &kp X             &kp C               &kp V          &kp B        &kp N                &kp M     &kp COMMA       &kp PERIOD           &kp SLASH
                                                                &to 0  &kp BACKSPACE  &lt 1 SPACE                &to 2
            >;
        };

        num {
            bindings = <
    &kp INS     &kp     &kp     &kp     &kp     &kp     &kp     &kp     &kp        &kp
 &kp DELETE     &kp     &kp     &kp     &kp     &kp     &kp     &kp     &kp    &kp ESC
   &kp CAPS     &kp     &kp     &kp     &kp     &kp     &kp     &kp     &kp  &kp ENTER
                                &kp     &kp     &kp     &kp
            >;
        };

        sym {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans
            >;
        };

        gaming {
            bindings = <
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
 &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &trans  &trans  &trans
            >;
        };
    };
};
